.player-cards-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

@media (max-width: 600px){
  .player-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.player-card{
  display:flex;
  aspect-ratio: 3/5;
}
